# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Data ---
data/
*.csv
*.xlsx
*.zip

# --- Model ---
models/
*.pkl
*.h5

# --- OS ---
.DS_Store

# --- IDE ---
.vscode/
.idea/